<%= render "shared/header" %>

<main class="vh-100">

  <div class="container">

    <% unless user_signed_in? %>
      <div class="px-4 py-5 text-center">
        <h1 class="display-5 fw-bold">ようこそ</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">あなたが感動した作品の感想を投稿しよう！</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary btn-lg px-4 gap-3" %>
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary btn-lg px-4" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">

      <% @posts.each do |p| %>

        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card p-3">
              <figure class="p-3 mb-0">
                <blockquote class="blockquote">
                  <p><%= p.title %></p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 text-muted">
                  presented by <cite title="Source Title"><%= p.user.name %></cite> 
                </figcaption>
              </figure>
            </div>
        </div>

      <% end %>

    </div>

  </div>

</main>

<%= render "shared/footer" %>